<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index Page</title>
  <style type="text/css">
    #todocontainer{
      margin-top: 50px;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TO DO LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
<section id="todocontainer">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Todo</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todolist}">
          <th scope="row" th:text=${todo.id}></th>
          <td th:text=${todo.title}></td>
          <td th:text=${todo.description}></td>
          <td th:text=${todo.status}></td>
          <td>
            <form th:action="@{/updateToDoItem/{id}(id=${todo.id})}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm text-white">Update</button>
              </div>
            </form>
          </td>
          <td>
            <form th:action="@{/deleteToDoItem/{id}(id=${todo.id})}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-sm text-white">Delete</button>
              </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewCreateModal">Add New Todo</a>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!-- View Modal -->
  <div class="modal fade" id="viewCreateModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModal">TODO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form th:action="@{/createToDoItem}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Todo</label>
              <input type="text" id="title" class="form-control" name="title" placeholder="Enter ToDo Title">
            </div>
            <div class="form-group">
              <label for="description">Todo</label>
              <input type="text" id="description" class="form-control" name="description" placeholder="Enter ToDo Description">
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" class="form-control" name="status">
                <option>TODO</option>
                <option>Completed</option>
              </select>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Todo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
